src/main/resources/META-INF/wsdl/SubscriptionService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
################################################################################
#  Description:			Subscriptions SOAP service definition
#  Revision: 			1.3
#  Date: 				30/09/2015
#  Owner:				Royal Mail Group
#  Canonical Model:	    Aligned with RMG Canonical Model (CM) v4.2
################################################################################
#  History:
#  Version		Date 				Author					Description of Change
#  v1.0	    	17/08/2015          Andrew Harmel-Law       Initial version created
#  v1.1         08/09/2015          Nick Walter             Move to CM v4.2
#  v1.2         01/10/2015          Gayathri Thiyagarajan   Added GetSubscription, Cancel Subscription operation
#  v1.3         19/10/2015          Gayathri Thiyagarajan   Added Upgrade or Downgrade Subscription, Request Subscription Changes and Request Recurring Payments operation
################################################################################
-->
<definitions targetNamespace="http://com/royalmail/subscriptions/webservice/envelope"
             name="SubscriptionsSOAPService"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:soapext="http://www.royalmailgroup.com/soap/extensions/V1"
             xmlns:ns="http://com/royalmail/subscriptions/webservice/envelope"
             xmlns:sub="http://com/royalmail/subscriptions/webservice/requestAndResponse">
    <types>
        <xs:schema xmlns="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <xs:import namespace="http://www.royalmailgroup.com/integration/core/V1" schemaLocation="./../xsd/CommonIntegrationSchemaV1_15.xsd"/>
            <xs:import namespace="http://com/royalmail/subscriptions/webservice/requestAndResponse" schemaLocation="../xsd/CreateSubscriptionV1.1.xsd"/>
            <xs:import namespace="http://com/royalmail/subscriptions/webservice/requestAndResponse" schemaLocation="../xsd/CompleteSubscriptionV1.1.xsd"/>
            <xs:import namespace="http://com/royalmail/subscriptions/webservice/requestAndResponse" schemaLocation="../xsd/GetSubscriptionV1.0.xsd"/>
            <xs:import namespace="http://com/royalmail/subscriptions/webservice/requestAndResponse" schemaLocation="../xsd/CancelSubscriptionV1.0.xsd"/>
            <xs:import namespace="http://com/royalmail/subscriptions/webservice/requestAndResponse" schemaLocation="../xsd/UpgradeDowngradeSubscriptionV1.0.xsd"/>
            <xs:import namespace="http://com/royalmail/subscriptions/webservice/requestAndResponse" schemaLocation="../xsd/RequestSubscriptionChangesV1.0.xsd"/>
            <xs:import namespace="http://com/royalmail/subscriptions/webservice/requestAndResponse" schemaLocation="../xsd/RequestRecurringPaymentsV1.0.xsd"/>
            <xs:import namespace="http://www.royalmailgroup.com/soap/extensions/V1" schemaLocation="./../xsd/RMGSOAPExtensionsV1_4.xsd"/>
        </xs:schema>
    </types>
    <message name="CreateSubscriptionRequest">
        <part name="CreateSubscriptionRequest" element="sub:createSubscriptionRequest"/>
    </message>
    <message name="CreateSubscriptionResponse">
        <part name="CreateSubscriptionResponse" element="sub:createSubscriptionResponse"/>
    </message>
    <message name="CompleteSubscriptionRequest">
        <part name="CompleteSubscriptionRequest" element="sub:completeSubscriptionRequest"/>
    </message>
    <message name="CompleteSubscriptionResponse">
        <part name="CompleteSubscriptionResponse" element="sub:completeSubscriptionResponse"/>
    </message>
    <message name="GetSubscriptionRequest">
        <part name="GetSubscriptionRequest" element="sub:getSubscriptionRequest"/>
    </message>
    <message name="GetSubscriptionResponse">
        <part name="GetSubscriptionResponse" element="sub:getSubscriptionResponse"/>
    </message>
    <message name="CancelSubscriptionRequest">
        <part name="CancelSubscriptionRequest" element="sub:cancelSubscriptionRequest"/>
    </message>
    <message name="CancelSubscriptionResponse">
        <part name="CancelSubscriptionResponse" element="sub:cancelSubscriptionResponse"/>
    </message>
    <message name="UpgradeDowngradeSubscriptionRequest">
        <part name="UpgradeDowngradeSubscriptionRequest" element="sub:upgradeDowngradeSubscriptionRequest"/>
    </message>
    <message name="UpgradeDowngradeSubscriptionResponse">
        <part name="UpgradeDowngradeSubscriptionResponse" element="sub:upgradeDowngradeSubscriptionResponse"/>
    </message>
    <message name="RequestSubscriptionChangesRequest">
        <part name="RequestSubscriptionChangesRequest" element="sub:requestSubscriptionChangesRequest"/>
    </message>
    <message name="RequestSubscriptionChangesResponse">
        <part name="RequestSubscriptionChangesResponse" element="sub:requestSubscriptionChangesResponse"/>
    </message>
    <message name="RequestRecurringPaymentsRequest">
        <part name="RequestRecurringPaymentsRequest" element="sub:requestRecurringPaymentsRequest"/>
    </message>
    <message name="RequestRecurringPaymentsResponse">
        <part name="RequestRecurringPaymentsResponse" element="sub:requestRecurringPaymentsResponse"/>
    </message>
    <message name="FaultResponse">
        <part name="FaultResponse" type="soapext:exceptionDetails"/>
    </message>
    <portType name="SubscriptionsSOAPService">
        <operation name="CreateSubscription">
            <input name="CreateSubscriptionRequest" message="ns:CreateSubscriptionRequest"/>
            <output name="CreateSubscriptionResponse" message="ns:CreateSubscriptionResponse"/>
            <fault name="Fault" message="ns:FaultResponse"/>
        </operation>
        <operation name="CompleteSubscription">
            <input name="CompleteSubscriptionRequest" message="ns:CompleteSubscriptionRequest"/>
            <output name="CompleteSubscriptionResponse" message="ns:CompleteSubscriptionResponse"/>
            <fault name="Fault" message="ns:FaultResponse"/>
        </operation>
        <operation name="GetSubscription">
            <input name="GetSubscriptionRequest" message="ns:GetSubscriptionRequest"/>
            <output name="GetSubscriptionResponse" message="ns:GetSubscriptionResponse"/>
            <fault name="Fault" message="ns:FaultResponse"/>
        </operation>
        <operation name="CancelSubscription">
            <input name="CancelSubscriptionRequest" message="ns:CancelSubscriptionRequest"/>
            <output name="CancelSubscriptionResponse" message="ns:CancelSubscriptionResponse"/>
            <fault name="Fault" message="ns:FaultResponse"/>
        </operation>
        <operation name="UpgradeDowngradeSubscription">
            <input name="UpgradeDowngradeSubscriptionRequest" message="ns:UpgradeDowngradeSubscriptionRequest"/>
            <output name="UpgradeDowngradeSubscriptionResponse" message="ns:UpgradeDowngradeSubscriptionResponse"/>
            <fault name="Fault" message="ns:FaultResponse"/>
        </operation>
        <operation name="RequestSubscriptionChanges">
            <input name="RequestSubscriptionChangesRequest" message="ns:RequestSubscriptionChangesRequest"/>
            <output name="RequestSubscriptionChangesResponse" message="ns:RequestSubscriptionChangesResponse"/>
            <fault name="Fault" message="ns:FaultResponse"/>
        </operation>
        <operation name="RequestRecurringPayments">
            <input name="RequestRecurringPaymentsRequest" message="ns:RequestRecurringPaymentsRequest"/>
            <output name="RequestRecurringPaymentsResponse" message="ns:RequestRecurringPaymentsResponse"/>
            <fault name="Fault" message="ns:FaultResponse"/>
        </operation>
    </portType>
    <binding name="SubscriptionsSOAPServicePortBinding" type="ns:SubscriptionsSOAPService">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CreateSubscription">
            <soap12:operation soapAction="http://schemas.xmlsoap.org/soap/http/CreateSubscription"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="Fault">
                <soap12:fault name="Fault" use="literal"/>
            </fault>
        </operation>
        <operation name="CompleteSubscription">
            <soap12:operation soapAction="http://schemas.xmlsoap.org/soap/http/CompleteSubscription"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="Fault">
                <soap12:fault name="Fault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetSubscription">
            <soap12:operation soapAction="http://schemas.xmlsoap.org/soap/http/GetSubscription"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="Fault">
                <soap12:fault name="Fault" use="literal"/>
            </fault>
        </operation>
        <operation name="CancelSubscription">
            <soap12:operation soapAction="http://schemas.xmlsoap.org/soap/http/CancelSubscription"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="Fault">
                <soap12:fault name="Fault" use="literal"/>
            </fault>
        </operation>
        <operation name="UpgradeDowngradeSubscription">
            <soap12:operation soapAction="http://schemas.xmlsoap.org/soap/http/UpgradeDowngradeSubscription"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="Fault">
                <soap12:fault name="Fault" use="literal"/>
            </fault>
        </operation>
        <operation name="RequestSubscriptionChanges">
            <soap12:operation soapAction="http://schemas.xmlsoap.org/soap/http/RequestSubscriptionChanges"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="Fault">
                <soap12:fault name="Fault" use="literal"/>
            </fault>
        </operation>
        <operation name="RequestRecurringPayments">
            <soap12:operation soapAction="http://schemas.xmlsoap.org/soap/http/RequestRecurringPayments"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="Fault">
                <soap12:fault name="Fault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="SubscriptionsSOAPService">
        <port name="SubscriptionsSOAPServicePort" binding="ns:SubscriptionsSOAPServicePortBinding">
            <!-- TODO: Replace this with the actual URL -->
            <soap12:address location="http://localhost:9040/subscriptions/service/SubscriptionSOAPService"/>
        </port>
    </service>
</definitions>